[submodule "submodules/flask"]
	path = submodules/flask
	url = http://github.com/mitsuhiko/flask.git
[submodule "submodules/werkzeug"]
	path = submodules/werkzeug
	url = http://github.com/clones/werkzeug.git
[submodule "submodules/jinja2"]
	path = submodules/jinja2
	url = http://github.com/clones/jinja2.git
[submodule "code/lib/gaeUtils"]
	path = code/lib/gaeUtils
	url = git@github.com:deck/gae-utils.git
[submodule "code/lib/gaePath"]
	path = code/lib/gaePath
	url = git@github.com:nikgraf/gae-path.git
